:root{
    --boolando-orange: #FF6900;
    --boolando-dark: #1a1a1a;
    --boolando-red: #ff0000;
    --boolando-green: #008000
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: var(--boolando-orange);
    color: aliceblue;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 1rem 0;
}

.navbar>.selezione-catalogo>a,
.navbar>.selezione-sezioni>a{
    color: white;
    text-decoration: none;
    margin: 0 0.2vw
}

.navbar>.selezione-sezioni>a{
    font-size:large;
}

.navbar>a>img{
    height: 2rem;
}

.icon>img{
    height: 1rem;
    filter: invert(100%)
}

main{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.container{
    align-self: center;
    width: 70%;
    min-width: 360px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem 0;
}

.col-3{
    width: calc(100% /3);
    min-width: 180px;
    position: relative;

}

.product-image,
.brand,
.product-name,
.price{
    margin: 0 0.5rem;
}

.product-image>img{
    width: 100%;
    user-select: none;
}

.favourite-popup,
.discount-percent,
.sostenibilità{
    position: absolute;
}

.favourite-popup{
    font-size:x-large;
    right: 2%;
    top: 2%;
    background-color: white;
    padding: 2.5% 5%;
    user-select: none;
    visibility: hidden;
}

.product-image:hover>.favourite-popup{
    visibility: visible;
}

.favourite-popup:hover{
    color: #ff0000;
}

.discount-percent{
    font-size:small;
    bottom: 7rem;
    padding: 0.2rem 0.5rem;
    color: white;
    background-color: var(--boolando-red);
    margin-right: 0.5rem;
    user-select: none;
}

.sostenibilità{
    font-size:small;
    bottom: 7rem;
    left: 3.5rem;
    padding: 0.2rem 0.5rem;
    color: white;
    background-color: var(--boolando-green);
    margin-right: 0.5rem;
    user-select: none;
}

.sostenibilità.sinistra{
    left: 10px;
}

.price,
.brand{
    font-size: small;
}

.discounted-price{
    color: var(--boolando-red);
    font-weight: 700;
}

.discounted-price + .regular-price{
    text-decoration: line-through;

}

.invisible{
    display: none;
}

footer{
    background-color: var(--boolando-dark);
    color: white;

    display: flex;
    justify-content: center;

}

.container{
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.company-information{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.legal-documents{
    margin-top: 0.5rem;
}

.legal-documents>a{
    color: white;
    text-decoration: none;
    margin-right:0.3rem;
    font-size: small;
}

.social{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.social-list{
    display: flex;
    justify-content: space-between;
}

footer>.container{
    height: 5rem;
}